{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/main.css' %}">
    <title>Nosis</title>
</head>
<body>
    <section class='header'>
        <div class="container">
            <nav class="navbar">
                <div class='brand-div'>
                    <a href='' class='name'>Nosis</a>
                    <img class='logo' src="static/Images/Logo.svg" alt="">
                </div>
                
                <ul class='links'>
                    <li><a class='link' href="product/" target='_blank'>Product</a></li>
                    <li><a class='link' href="symptoms/" target='_blank'>Symptoms</a></li>
                    <li><a class='link' href="https://www.linkedin.com/in/real-darren-baldwin/" target='_blank'>Developer</a></li>
                    <li><a class='github' href="https://github.com/Devd0/Nosis" target='_blank'>Github</a></li>
                    
                </ul>
            </nav>


            <div class='hero-cta'>
                <div class='hero-text'>
                    <h1>Home is now the Doctor's Office.</h1>
                    <h4>Professional medical incite within the comfort and security of your home!</h4>
                    <a class='get-started' href="product/" target='_blank'>Get Started</a>
                </div>
                <img class='hero-img' src="static/Images/HeroImg.svg" alt="Doctors">
            </div>
        </div>
    </section>


    <section class='info-sec'>
        <div class="container">
            <div class='info-row'>
                <div>
                    <h1>1.</h1>
                    <h3>Its all online! Professional incite at your fingertips!</h3>
                </div>
    
                <div>
                    <h1>2.</h1>
                    <h3>Access from literally anywhere!</h3>
                </div>

                <div>
                    <h1>3.</h1>
                    <h3>Completely free with the beta version following sineup!</h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>