{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/CSS/main.css' %}">
    <title>Nosis</title>
</head>
<body>
    <section class='header'>
        <div class="container">
            <nav class="navbar">
                <div class='brand-div'>
                    <a href='' class='name'>Nosis</a>
                    <img class='logo' src="static/Images/Logo.svg" alt="">
                </div>
                
                <ul class='links'>
                    <li><a class='link' href="product/" target='_blank'>Product</a></li>
                    <li><a class='link' href="symptoms/" target='_blank'>Symptoms</a></li>
                    <li><a class='link' href="https://www.linkedin.com/in/real-darren-baldwin/" target='_blank'>Developer</a></li>
                    <li><a class='github' href="https://github.com/Devd0/Nosis" target='_blank'>Github</a></li>
                </ul>

                <img class='menu' src="static/Images/Hamburger.svg" alt="hamburger">
            </nav>


            <div class='hero-cta'>
                <div class='hero-text'>
                    <h1>Home is now the Doctor's Office.</h1>
                    <h4>Professional medical insight within the comfort and security of your home!</h4>
                    <a class='get-started' href="product/" target='_blank'>Get Started</a>
                </div>
                <img class='hero-img' src="static/Images/HeroImg.svg" alt="Doctors">
            </div>
        </div>
    </section>


    <section class='info-sec'>
        <div class="container">
            <div class='info-row'>
                <h3>Its all online! Professional incite at your fingertips!</h3>
            </div>
        </div>
    </section>

    <footer>
        <h3 class='footer-text'>v0.1 - MakUC 2021</h1>
    </footer>
</body>
</html>