{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/product.css' %}">
    <title>Product</title>
</head>
<body>

    <form action="" method='post'>
        
    </form>
    

    <div class='forms'>
        <h1>Info</h1>

        <form action="/apiData/" method='post'>
            {% csrf_token %}
            <input type="text" name="sex" placeholder='sex'>
            <input type="text" name="age" placeholder='age'>
            <div>
                <input id='symptoms' type="text" name="symptoms" placeholder='Symptoms'>
            </div>
            <input type="submit" value='Submit'>
        </form>



       

    </div>

    <script src="{% static 'JS/product.js' %}"></script>
</body>
</html>