{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/product.css' %}">
    <title>Product</title>
</head>
<body>
    
    <section>
        <div class='container'>
            <nav class="navbar">
                <div class='brand-div'>
                    <a href='/' class='name'>Nosis</a>
                    <img class='logo' src="/static/Images/Logo.svg" alt="">
                </div>
                <a class='link' href="#" target='_blank'>Symptoms</a>
            </nav>
        </div>
    </section>

    <hr>

    <section>
        <div class="container">
            <div class='info-dash'>
                <div>
                    <h1>Start by inputting the required information into the bellow fields.</h1>

                    <form action="/apiData/" method='post'>
                        {% csrf_token %}
                        <input autocomplete='off' class='inputs' type="text" name="sex" placeholder='sex'>
                        <input autocomplete='off' class='inputs' type="text" name="age" placeholder='age'>
                        <input autocomplete='off' class='inputs' id='symptoms' type="text" name="symptoms" placeholder='Symptom IDs'>
                        <input autocomplete='off' class='sub-btn' type="submit" value='SUBMIT'>
                    </form>
                </div>
                
                <img class='hero-img2' src="/static/Images/HeroImg2.svg" alt="">

            </div>
        </div>
    </section>

    <script src="{% static 'JS/product.js' %}"></script>
</body>
</html>