{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/product.css' %}">
    <title>Product</title>
</head>
<body>

    <input type="button" name=''>

    <div class='forms'>
        <h1>{{curForm}}</h1>
        {% if IsInfo %}
        <form action="/apiData/" method='post'>
            {% csrf_token %}
            <input type="text" name="sex" placeholder='sex'>
            <input type="text" name="age" placeholder='age'>
            <input type="submit" value='Submit'>
        </form>
        {% endif %}

        {% if IsSymp %}
            <form action="/apiSymp/" method='post'>
                {% csrf_token %}
                <input id='symptoms' type="text" name="symptoms" placeholder='Symptoms'>
                <input id='add' type="button", value='Add'>
                <input type="submit" value='Submit'>
            </form>
        {% endif %}
    </div>

    <script src="{% static 'JS/product.js' %}"></script>
</body>
</html>